<html>
  <title><%= @title %></title>
  <body>
    <h1><%= @title %></h1>

    <!-- Welcome Message -->
    <%= @message %><br>
    <br>

    <!-- Menu -->
    <a href="/login">Login</a><br>
    <br>

    <!-- Activity -->
    <table border="0">
      <tr>
        <td>Last access at :</td>
        <td><%= last_access_at %></td>
      </tr>
      <tr>
        <td>Current access at : </td>
        <td><%= current_access_at %></td>
      </tr>
    </table>
    <a href="/history">AccessLog</a>
  </body>
</html>
