<html>
  <title><%= @title %></title>
  <body>
    <h1><%= @title %></h1>
    <%= @message %><br>
    Last access at : <%= last_access_at %><br>
    Current access at : <%= current_access_at %><br>
  </body>
</html>
